* {
  font-size: 12pt;
  font-family: "NotoSans Nerd Font";
}

window#waybar {
  background-color: @window_bg_color;
  color: @window_fg_color;
}

box#workspaces {
  border-right: 0.5em solid transparent;

  background:
    linear-gradient(@card_bg_color, @card_bg_color),
    border-box no-repeat linear-gradient(to top right, @card_bg_color 50%, transparent 50%) 100% 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to bottom right, @card_bg_color 50%, transparent 50%) 100% 100% / 0.5em 50%;
}

label#cpu,
label#memory,
label#disk,
label#temperature {
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;

  background:
    linear-gradient(@card_bg_color, @card_bg_color),
    border-box no-repeat linear-gradient(to top right, transparent 50%, @card_bg_color 50%) 0 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to bottom right, transparent 50%, @card_bg_color 50%) 0 100% / 0.5em 50%,
    border-box no-repeat linear-gradient(to top right, @card_bg_color 50%, transparent 50%) 100% 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to bottom right, @card_bg_color 50%, transparent 50%) 100% 100% / 0.5em 50%;
}

label#mpris {
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;

  background:
    linear-gradient(@card_bg_color, @card_bg_color),
    border-box no-repeat linear-gradient(to bottom right, transparent 50%, @card_bg_color 50%) 0 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to top right, transparent 50%, @card_bg_color 50%) 0 100% / 0.5em 50%,
    border-box no-repeat linear-gradient(to top right, @card_bg_color 50%, transparent 50%) 100% 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to bottom right, @card_bg_color 50%, transparent 50%) 100% 100% / 0.5em 50%;
}

label#network,
label#backlight,
label#wireplumber,
label#battery,
label#custom-ups {
  border-right: 0.5em solid transparent;
  border-left: 0.5em solid transparent;

  background:
    linear-gradient(@card_bg_color, @card_bg_color),
    border-box no-repeat linear-gradient(to bottom right, transparent 50%, @card_bg_color 50%) 0 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to top right, transparent 50%, @card_bg_color 50%) 0 100% / 0.5em 50%,
    border-box no-repeat linear-gradient(to bottom right, @card_bg_color 50%, transparent 50%) 100% 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to top right, @card_bg_color 50%, transparent 50%) 100% 100% / 0.5em 50%;
}

label#clock {
  border-left: 0.5em solid transparent;

  background:
    linear-gradient(@card_bg_color, @card_bg_color),
    border-box no-repeat linear-gradient(to bottom right, transparent 50%, @card_bg_color 50%) 0 0 / 0.5em 50%,
    border-box no-repeat linear-gradient(to top right, transparent 50%, @card_bg_color 50%) 0 100% / 0.5em 50%;
}

box#workspaces,
label#cpu,
label#memory,
label#disk,
label#temperature,
label#mpris,
label#network,
label#backlight,
label#wireplumber,
label#battery,
label#custom-ups,
label#clock {
  margin: 0.25em 0;
  padding: 0 0.5em;
}

box#workspaces,
box#workspaces button {
  padding: 0 0.25em;
}

label#network:not(.ethernet):not(.wifi),
label#wireplumber.muted,
label#battery.full {
  padding-right: 0.75em;
}

box#workspaces button.active,
label#cpu.load,
label#battery.charging {
  color: @accent_color;
}

label#memory.warning,
label#disk.warning,
label#network:not(.disconnected):not(.ethernet):not(.wifi),
label#battery.discharging.warning,
label#custom-ups.charging {
  color: @warning_color;
}

label#cpu.high,
label#memory.critical,
label#disk.critical,
label#network.disconnected,
label#battery.discharging.critical,
label#custom-ups.discharging {
  color: @error_color;
}

label#battery.full {
  color: @success_color;
}
