name: Upgrade

on:
  workflow_dispatch:

  schedule:
    - cron: "0 1 * * 1"

jobs:
  upgrade:
    name: Upgrade
    runs-on: self-hosted

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Upgrade
        run: nix run .#upgrade

      - name: Detect changes
        continue-on-error: true
        id: detect-changes
        run: test -n "$(git status --porcelain)"

      - name: Verify
        if: ${{ steps.detect-changes.outcome == 'success' }}
        run: |
          rm -f /nix/var/nix/gcroots/ci/*

          while read -r MACHINE; do
            timeout 1h nix build -o "/nix/var/nix/gcroots/ci/$MACHINE" ".#nixosConfigurations.$MACHINE.config.system.build.toplevel" || exit 1
          done < <(jq -r "keys[]" machines.json)

      - name: Commit
        if: ${{ steps.detect-changes.outcome == 'success' }}
        run: |
          CHANGES_FLAKE="$(git diff flake.lock | grep repo | cut -d \" -f 4 | sort | uniq)"
          test -n "$CHANGES_FLAKE" && CHANGES_FLAKE="$(echo "Flake changes:" && sed "s/^/  - /" <<<"$CHANGES_FLAKE")"
          git add flake.lock

          CHANGES_DYNHOSTMGR="$(git diff overlay/dynhostmgr/Cargo.toml | grep "^+" | tail -n +2 | sed -E "s/^\+(.+) = .*/\1/" | sort | uniq)"
          test -n "$CHANGES_DYNHOSTMGR" && CHANGES_DYNHOSTMGR="$(echo "DynHostMGR changes:" && sed "s/^/  - /" <<<"$CHANGES_DYNHOSTMGR")"
          git add overlay/dynhostmgr

          CHANGES_PRETTIER="$(git diff overlay/prettier/package.json | grep "^+ " | tail -n +2 | cut -d \" -f 2 | sort | uniq)"
          test -n "$CHANGES_PRETTIER" && CHANGES_PRETTIER="$(echo "Prettier plugin changes:" && sed "s/^/  - /" <<<"$CHANGES_PRETTIER")"
          git add overlay/prettier

          CHANGES_EXTENSIONS_FIREFOX="$(git diff resources/extensions/firefox.json | grep "^+ " | cut -d \" -f 4 | sort | uniq)"
          test -n "$CHANGES_EXTENSIONS_FIREFOX" && CHANGES_EXTENSIONS_FIREFOX="$(echo "Firefox extension changes:" && sed "s/^/  - /" <<<"$CHANGES_EXTENSIONS_FIREFOX")"
          git add resources/extensions/firefox.json

          CHANGES_EXTENSIONS_THUNDERBIRD="$(git diff resources/extensions/thunderbird.json | grep "^+ " | cut -d \" -f 4 | sort | uniq)"
          test -n "$CHANGES_EXTENSIONS_THUNDERBIRD" && CHANGES_EXTENSIONS_THUNDERBIRD="$(echo "Thunderbird extension changes:" && sed "s/^/  - /" <<<"$CHANGES_EXTENSIONS_THUNDERBIRD")"
          git add resources/extensions/thunderbird.json

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git commit --message "Automatic upgrade" --message "$CHANGES_FLAKE" --message "$CHANGES_DYNHOSTMGR" --message "$CHANGES_PRETTIER" --message "$CHANGES_EXTENSIONS_FIREFOX" --message "$CHANGES_EXTENSIONS_THUNDERBIRD"
          git push
