name: Upgrade

on:
  workflow_dispatch:

  schedule:
    - cron: "0 1 * * 1"

jobs:
  upgrade:
    name: Upgrade
    runs-on: self-hosted

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Upgrade
        run: nix run .#upgrade

      - name: Detect changes
        id: detect-changes
        continue-on-error: true
        run: test -n "$(git status --porcelain)"

      - name: Verify
        if: ${{ steps.detect-changes.outcome == 'success' }}
        run: |
          rm -f /nix/var/nix/gcroots/ci/*

          while read -r MACHINE; do
            timeout 1h nix build -o "/nix/var/nix/gcroots/ci/$MACHINE" ".#nixosConfigurations.$MACHINE.config.system.build.toplevel" || exit 1
          done < <(jq -r "keys[]" machines.json)

      - name: Commit
        if: ${{ steps.detect-changes.outcome == 'success' }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git commit --file MSG
          rm MSG

          git push
